@model M_Suite.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItDescriptionLan1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItDescriptionLan1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItDescriptionLan2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItDescriptionLan2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItDescriptionLan3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItDescriptionLan3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItHasLot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItHasLot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItHasProductionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItHasProductionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItHasExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItHasExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItHasMultipleUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItHasMultipleUom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItHasSerial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItHasSerial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItIsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItIsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItIsSaleable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItIsSaleable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItIsService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItIsService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItIsAsset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItIsAsset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItImpUid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItImpUid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItIsBadReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItIsBadReturn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItCdIdIbdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItCdIdIbdNavigation.CdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItCdIdIgpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItCdIdIgpNavigation.CdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItCdIdIsgNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItCdIdIsgNavigation.CdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItCdIdItgNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItCdIdItgNavigation.CdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItCdIdItpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItCdIdItpNavigation.CdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItIt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItIt.ItId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItUom.UomId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
