@model IEnumerable<M_Suite.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItDescriptionLan1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItDescriptionLan2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItDescriptionLan3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItHasLot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItHasProductionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItHasExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItHasMultipleUom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItHasSerial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItIsDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItIsSaleable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItIsService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItIsAsset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItImpUid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItIsBadReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItCdIdIbdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItCdIdIgpNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItCdIdIsgNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItCdIdItgNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItCdIdItpNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItIt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItUom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItDescriptionLan1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItDescriptionLan2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItDescriptionLan3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItHasLot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItHasProductionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItHasExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItHasMultipleUom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItHasSerial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItIsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItIsSaleable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItIsService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItIsAsset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItImpUid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItIsBadReturn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItCdIdIbdNavigation.CdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItCdIdIgpNavigation.CdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItCdIdIsgNavigation.CdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItCdIdItgNavigation.CdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItCdIdItpNavigation.CdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItIt.ItId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItUom.UomId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
