@model M_Suite.Models.Warehouse

@{
    ViewData["Title"] = "Warehouse Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>Warehouse Details</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Location</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Location.Name)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Capacity)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Capacity)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
                    </dl>

                    <div class="mt-4">
                        <a asp-action="Edit" asp-route-id="@Model.WarehouseId" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 