@model M_Suite.Models.ItemWarehouse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemWarehouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwQuantityDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwQuantityDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwQuantityReserved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwQuantityReserved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwQuantityPreviewed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwQuantityPreviewed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwCreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwCreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwRemarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwRemarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwIt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwIt.ItId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwPlIdWhsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwPlIdWhsNavigation.PlId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItwUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItwUom.UomId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItwId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
