@model M_Suite.Models.BusinessUnit

@{
    ViewData["Title"] = "Delete";
}

@section Styles {
    <link rel="stylesheet" href="~/css/business-units.css" />
}

<div class="profile-content">
    <div class="profile-header">
        <h2>Delete BU</h2>
    </div>
    <div class="profile-details">
        <div class="profile-section">
            <dl class="row">
                <dt class="col-sm-2">Code</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BuCode)</dd>

                <dt class="col-sm-2">Description AR</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BuDescriptionLan1)</dd>

                <dt class="col-sm-2">Description EN</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BuDescriptionLan2)</dd>

                <dt class="col-sm-2">Description FR</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BuDescriptionLan3)</dd>

                <dt class="col-sm-2">Path</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BuPath)</dd>

                <dt class="col-sm-2">Parent BU</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BuBu.BuId)</dd>

                <dt class="col-sm-2">Company</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.BuCp.CpId)</dd>
            </dl>
        </div>
        <form asp-action="Delete" class="actions">
            <input type="hidden" asp-for="BuId" />
            <a asp-action="Index" class="btn btn-cancel">Cancel</a>
            <input type="submit" value="Delete" class="btn btn-delete" />
        </form>
    </div>
</div>